%div.chat-contents__message
	%div.chat-contents__message-info
		%div.chat-contents__message-info__sender-name メンバー1
		%div.chat-contents__message-info__send-time 2018/7/15 12:12:12
	%div.chat-contents__message__text これはテストです

%div.chat-contents__message
	%div.chat-contents__message-info
		%div.chat-contents__message-info__sender-name メンバー1
		%div.chat-contents__message-info__send-time 2018/7/15 12:12:12
	%div.chat-contents__message__text これはテストです

%div.chat-contents__message
	%div.chat-contents__message-info
		%div.chat-contents__message-info__sender-name メンバー1
		%div.chat-contents__message-info__send-time 2018/7/15 12:12:12
	%div.chat-contents__message__text これはテストです
%div.chat-contents__message
	%div.chat-contents__message-info
		%div.chat-contents__message-info__sender-name メンバー1
		%div.chat-contents__message-info__send-time 2018/7/15 12:12:12
	%div.chat-contents__message__text これはテストです

%div.chat-contents__message
	%div.chat-contents__message-info
		%div.chat-contents__message-info__sender-name メンバー1
		%div.chat-contents__message-info__send-time 2018/7/15 12:12:12
	%div.chat-contents__message__text これはテストです
%div.chat-contents__message
	%div.chat-contents__message-info
		%div.chat-contents__message-info__sender-name メンバー1
		%div.chat-contents__message-info__send-time 2018/7/15 12:12:12
	%div.chat-contents__message__text これはテストです
%div.chat-contents__message
	%div.chat-contents__message-info
		%div.chat-contents__message-info__sender-name メンバー1
		%div.chat-contents__message-info__send-time 2018/7/15 12:12:12
	%div.chat-contents__message__text これはテストです
%div.chat-contents__message
	%div.chat-contents__message-info
		%div.chat-contents__message-info__sender-name メンバー1
		%div.chat-contents__message-info__send-time 2018/7/15 12:12:12
	%div.chat-contents__message__text これはテストです
%div.chat-contents__message
	%div.chat-contents__message-info
		%div.chat-contents__message-info__sender-name メンバー1
		%div.chat-contents__message-info__send-time 2018/7/15 12:12:12
	%div.chat-contents__message__text これはテストです
%div.chat-contents__message
	%div.chat-contents__message-info
		%div.chat-contents__message-info__sender-name メンバー1
		%div.chat-contents__message-info__send-time 2018/7/15 12:12:12
	%div.chat-contents__message__text これはテストです