.chat-contents__message
	.chat-contents__message-info
		.chat-contents__message-info__sender-name メンバー1
		.chat-contents__message-info__send-time 2018/7/15 12:12:12
	.chat-contents__message__text これはテストです

.chat-contents__message
	.chat-contents__message-info
		.chat-contents__message-info__sender-name メンバー1
		.chat-contents__message-info__send-time 2018/7/15 12:12:12
	.chat-contents__message__text これはテストです

.chat-contents__message
	.chat-contents__message-info
		.chat-contents__message-info__sender-name メンバー1
		.chat-contents__message-info__send-time 2018/7/15 12:12:12
	.chat-contents__message__text これはテストです

.chat-contents__message
	.chat-contents__message-info
		.chat-contents__message-info__sender-name メンバー1
		.chat-contents__message-info__send-time 2018/7/15 12:12:12
	.chat-contents__message__text これはテストです

.chat-contents__message
	.chat-contents__message-info
		.chat-contents__message-info__sender-name メンバー1
		.chat-contents__message-info__send-time 2018/7/15 12:12:12
	.chat-contents__message__text これはテストです

.chat-contents__message
	.chat-contents__message-info
		.chat-contents__message-info__sender-name メンバー1
		.chat-contents__message-info__send-time 2018/7/15 12:12:12
	.chat-contents__message__text これはテストです

.chat-contents__message
	.chat-contents__message-info
		.chat-contents__message-info__sender-name メンバー1
		.chat-contents__message-info__send-time 2018/7/15 12:12:12
	.chat-contents__message__text これはテストです

.chat-contents__message
	.chat-contents__message-info
		.chat-contents__message-info__sender-name メンバー1
		.chat-contents__message-info__send-time 2018/7/15 12:12:12
	.chat-contents__message__text これはテストです
