.chat-contents__message
  .chat-contents__message-info
    .chat-contents__message-info__sender-name
      = message.user.name
    .chat-contents__message-info__send-time
      = l(message.created_at, format: :long)
  .chat-contents__message__text
    - if message.content.present?
      %p.chat-contents__message__text-content
        = message.content
    = image_tag message.image.url, class: 'chat-contents__message__image' if message.image.present?
