.chat-sidebar__groups
  - current_user.groups.each do |group|
    .chat-sidebar__groups__group
      = link_to group_messages_path(group) do
        .chat-sidebar__groups__group-name
          = group.name
        .chat-sidebar__groups__group-latest-message
          メッセージはまだありません
