.chat-sidebar
  = render partial: "chat-sidebar__users"
  = render partial: "chat-sidebar__groups"

.chat-contents
  .chat-contents__header
    .chat-contents__header__group
      .chat-contents__header__group-name Sample
      .chat-contents__header__group-edit-btn Edit
    .chat-contents__header__group-member
      Member : 
      %i sample

  .chat-contents__body
    = render partial: "chat-contents__body"
  .chat-contents__footer
    %form{class: "chat-contents__footer__form", action: "/", method: :post}
      .chat-contents__footer__form__body
        %input{placeholder: "type a message", class: "new-message", type: "text" }
          %label.upload-label{for: "upload-icon" }
            = fa_icon("image")
      %input{type: "submit", value: "SEND", class: "new-message-send-btn" }
