$mainBlueColor: #38AEF0;
$messageTextColor: #434A54;
$sidebarTextColor: #FFFFFF;
$sidebarBackgroundColor: #2f3e51;
$sidebarUserBackgroundColor: #253141;
$chatcontentsheaderBorderColor: #eeeeee;
$chatcontentsgrayColor: #999999;
$chatcontentsfooterColor: #AAAAAA;
$messageSendBtnColor: #FFFFFF;
$chatcontentsGroupColor: #333333;

$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;
