.chat-contents {
  width: calc(100% - 300px);
  float: left;
  &__header {
    height: 100px;
    border-bottom: 1px solid $chatcontentsheaderBorderColor;
    &__group {
      @include clearfix();
      padding-left: 40px;
      padding-right: 40px;
      &-name {
        float: left;
        margin-top: 35px;
        font-size: 20px;
        color: $chatcontentsGroupColor;

      }
      &-edit-btn {
        float: right;
        height: 40px;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 40px;
        margin-top: 28px;
        border: 1px solid $mainBlueColor;
        cursor:pointer;
      }
    }
    &__group-member {
    color: $chatcontentsgrayColor;
    font-size: 12px;
    padding-left: 40px;
    }
  }

  &__body {
    height: calc(100vh - 220px);
    overflow: scroll;
    .chat-contents__message {
      padding-top: 46px;
      padding-left: 40px;
      &-info {
        @include clearfix();

        &__sender-name {
          font-size: 16px;
          color: $messageTextColor;
          font-weight: bold;
          float: left;
          line-height: 16px;
        }
        &__send-time {
          font-size: 12px;
          color: $chatcontentsgrayColor;
          float: left;
          line-height: 12px;
          margin-left: 10px;
        }
      }
      &__text {
        font-size: 14px;
        color: $messageTextColor;
        margin-top: 10px;
      }
    }

  }
  &__footer {
    background-color: $chatcontentsfooterColor;
    height: 90px;
    width: 100%;
    &__form {
      margin: 0 40px;
      padding-left: 10px;
      position: relative;
      &__body{
        color: $messageTextColor;
        font-size: 16px;
        width: calc(100% - 80px);
        position: relative;
        padding: 20px 0;
        .new-message {
          height: 50px;
          width: calc(100% - 15px);
        }
        .fa {
          margin-right: 25px;
          margin-top: 20px;
          line-height: 50px;
          position: absolute;
            top: 0;
            right: 0;
        }
      }
      .new-message-send-btn {
        margin: 20px 0;
        background-color: $mainBlueColor;
        color: $messageSendBtnColor;
        width: 80px;
        height: 50px;
        border: none;
        position: absolute;
          top: 0;
          right: 0;
          text-align: center;
      }
    }
  }
}

.form {
  background-color: #DDDDDD;
  box-sizing: border-box;
  height: 90px;
  padding: 20px 50px 20px 40px;
  &__message {
    border: none;
    float: left;
    height: 50px;
    width: calc(100% - 150px);
  }
  &__mask {
    background-color: $white;
    float: left;
    height: 50px;
    padding-right: 10px;
    &__image {
      font-size: 20px;
      line-height: 50px;
    }
    .hidden {
      display: none;
    }
  }
  &__submit {
    background-color: $light_blue;
    border: none;
    color: $white;
    float: right;
    font-size: 16px;
    height: 50px;
    margin-left: 15px;
    padding: 0 30px;
  }
}
