$mainBlueColor: #38AEF0;
$messageTextColor: #434A54;
$sidebarTextColor: #FFFFFF;
$sidebarBackgroundColor: #2f3e51;
$sidebarUserBackgroundColor: #253141;
$chatcontentsheaderBorderColor: #eeeeee;
$chatcontentsgrayColor: #999999;
$chatcontentsfooterColor: #AAAAAA;
$messageSendBtnColor: #FFFFFF;
$chatcontentsGroupColor: #333333;
